header{
	text-align: center;
}
table#indexList{
	text-align: center;
	padding:10px;
}
#indexList td{
	margin:5px;
	width:200px;
}
#indexList button{
	padding:0px;
	margin:0px;
	background: none;
	border:none;
	color:grey;
	width:200px;
	height:30px;
}
#indexList button:hover{
	background:green;
	color:white;
	cursor: pointer;
}
section{
	display:flex;
	justify-content: center;
}
section#strainSection{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
	section#strainSection {
		width: 100%;
		flex-direction: column;
	}
	div.sect{
		align-self: center;
		min-width: 300px;
	}
}
div.sect{
	width:35%;
	min-width:200px;
	max-width: 400px;
	min-height: 130px;
	display: flex;
	flex-direction: column;
	border:1px solid black;
	border-radius: 3px;
	margin:10px;
	padding:3px;
	text-align: center;
}
div.sectionHeader{
	text-align: center;
	justify-content: flex-start;
}
button.parent{
	background:none;
	border:1px solid black;
	border-radius: 5px;
	height:100px;
	width:85px;
	color:white;
}
button.parent:hover{
	border:2px dotted black;
}
button.indica{
	background-color:#6E335E;
}
button.hybrid{
	background-color:#77BC20;
}
button.sativa{
	background-color:#D44727;
}
#parents{
	padding:5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
}
.sectionHeader h5{
	padding:2px;
	margin:0px;
}